.jsgrid {
    position: relative;
    overflow: hidden;
    font-size: 1em;
}

.jsgrid-grid-header {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #f1f1f1;
    border: 1px solid #E2E2E2;
}

.jsgrid-grid-body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #E2E2E2;
    border-top: none;
}

.jsgrid-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.jsgrid-table td {
    padding: 0.3em 0.5em;
    border: #F3F3F3 1px solid;
}

.jsgrid-table td, .jsgrid-table th {
    box-sizing: border-box;
}

.jsgrid-align-left {
    text-align: left;
}

.jsgrid-align-center {
    text-align: center;
}

.jsgrid-align-right {
    text-align: right;
}

.jsgrid-header-row {
    background: #efefef;
}

.jsgrid-header-row th {
    padding: .5em .5em;
    border: 1px solid #E2E2E2;
    border-bottom: none;
    text-align: center;
}

.jsgrid-filter-row {
}

.jsgrid-filter-row td {
    background: #F9FCFC;
    border: 1px solid #E2E2E2;
    border-bottom: none;
    text-align: center;
}

.jsgrid-filter-row input, .jsgrid-filter-row textarea, .jsgrid-filter-row select {
    width: 90%;
}

.jsgrid-insert-row {
}

.jsgrid-insert-row td {
    background: #e0ffbf;
    border: 1px solid #E2E2E2;
    border-bottom: none;
    text-align: center;
}

.jsgrid-insert-row input, .jsgrid-insert-row textarea, .jsgrid-insert-row select {
    width: 90%;
}

.jsgrid-edit-row {
}

.jsgrid-edit-row td {
    background: #fcffc9;
    border: 1px solid #E2E2E2;
    text-align: center;
}

.jsgrid-edit-row input, .jsgrid-edit-row textarea, .jsgrid-edit-row select {
    width: 90%;
}

.jsgrid-row td {
    background: #FFFFFF;
}

.jsgrid-alt-row td {
    background: #F9FCFC;
}

.jsgrid-selected-row {
}

.jsgrid-selected-row td {
    border-bottom: 1px solid #C0EBFE !important;
    background: url(images/jsgrid-table_selrow_bg.gif) bottom left repeat-x #F7FCFD !important;
    cursor: pointer;
}

.jsgrid-nodata-row td {
    padding: .5em 0;
    background: #FFFFFF;
    text-align: center;
    font-weight: bold;
}

.jsgrid-pager {
    padding-top: .5em;
}

.jsgrid-pager-nav-button {
    padding: .4em .4em 0 .4em;
}

.jsgrid-pager-page {
    padding: .4em .4em 0 .4em;
}

.jsgrid-pager-current-page {
    font-weight: bold;
}

.jsgrid-header-sort {
    cursor: pointer;
}

.jsgrid-header-sort-asc {
    background: url(images/jsgrid-table_th_sort_asc.png) 1em 1em no-repeat #d6eef3;
}

.jsgrid-header-sort-desc {
    background: url(images/jsgrid-table_th_sort_desc.png) 1em 1em no-repeat #d6eef3;
}

.jsgrid-search-mode-button {
    width: 24px;
    height: 24px;
    background: url(images/jsgrid-search_mode.png);
    border: none;
    cursor: pointer;
}

.jsgrid-insert-mode-button {
    width: 24px;
    height: 24px;
    background: url(images/jsgrid-insert_mode.png);
    border: none;
    cursor: pointer;
}

.jsgrid-filter-row .jsgrid-search-button {
    width: 16px;
    height: 16px;
    background: url(images/jsgrid-search.png);
    border: none;
    cursor: pointer;
}

.jsgrid-filter-row .jsgrid-clear-filter-button {
    background: url(images/jsgrid-clear_filter.png);
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

.jsgrid-insert-row .jsgrid-insert-button {
    width: 16px;
    height: 16px;
    background: url(images/jsgrid-insert.png);
    border: none;
    cursor: pointer;
}

.jsgrid-control-field .jsgrid-edit-button {
    width: 16px;
    height: 16px;
    background: url(images/jsgrid-edit.png);
    border: none;
    cursor: pointer;
}

.jsgrid-control-field .jsgrid-delete-button {
    width: 16px;
    height: 16px;
    background: url(images/jsgrid-delete.png);
    border: none;
    cursor: pointer;
}

.jsgrid-edit-row .jsgrid-update-button {
    width: 16px;
    height: 16px;
    background: url(images/jsgrid-update.png);
    border: none;
    cursor: pointer;
}

.jsgrid-edit-row .jsgrid-cancel-edit-button {
    width: 16px;
    height: 16px;
    background: url(images/jsgrid-cancel_edit.png);
    border: none;
    cursor: pointer;
}