h1, h2, h3, h4, h5, h6 {
	@media #{$medium-up} {
	}
	@media #{$large-up} {
	}
}

$well-bg-color: #fcfcfc;
$well-border-color: #e5e5e5;
$larger-text: 1.2rem;
$faded-text-color: #777;

$header-bg-color: #333;
$header-brand-color: #fff;
$footer-border-color: $well-border-color;

$page-header-bg-color: #eee;
$page-header-text-color: $faded-text-color;
$page-header-font-size: 1.3rem;
$page-content-addon-bg-color: #fcfcfc;

$code-side-bg-color: #f5f5f5;
$code-bg-color: $well-bg-color;
$code-border-color: $well-border-color;
$code-linenums-color: #ddd;

$demo-selected-color: $faded-text-color;
$tree-toggle-button-color: #aaa;

$feature-block-icon-color: #3498db;

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.header {
  background: $header-bg-color;
}

.larger-text {
  font-size: $larger-text;
}

.main-nav {
  margin: 1rem;

  .inline-list {
    margin-bottom: 0;
  }
}

.content {
  padding-bottom: 2rem;

  &:first-child {
    padding-top: 2rem;
  }
}

@media #{$medium-up} {
  .content {
    padding-top: 2rem;
  }
}

.brand {
  margin-top: 1rem;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 300;

  a {
    color: $header-brand-color;
  }
}

.page-header {
  background: $page-header-bg-color;

  h1 {

  }

  p {
    color: $page-header-text-color;
    font-size: $page-header-font-size;
  }
}

.page-content {

}

.page-content-addon {
  background: $page-content-addon-bg-color;
}

.footer {
  margin-top: 2rem;
  border-top: solid 1px $footer-border-color;
  color: $faded-text-color;
}

.code {
  margin-bottom: 1.5rem;

  .prettyprint {
    padding: 0;
    border: 1px solid $code-border-color;
    background: $code-side-bg-color;

    ol {
      margin-left: 2.7rem;
      padding: .5rem 0;
      background: $code-bg-color;
      color: $code-linenums-color;
      font-size: .9rem;
      line-height: 1.5;
    }

    li {
      padding-left: .5rem;
      list-style-type: decimal;
      background: $code-bg-color;
    }
  }
}

.step {
  font-size: $larger-text;
  margin-top: 1.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.button {
  line-height: 1;
}

.samples-list {
  ul {
    list-style: none;
    margin: 1em 0;
  }

  li {
    margin-bottom: .3em;
  }

  p, li {
    font-size: $larger-text;
  }
}

.demos-navigation {

  a {
    font-size: $larger-text;
  }

  ul {
    list-style: none;
    margin: 0;
  }

  .demo-selected {
    color: $demo-selected-color;
  }
}

.demo-info {
  button {
    margin-left: 1rem;
  }

  p {
    font-size: $larger-text;
  }
}

.demo-frame {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

iframe[name='demo'] {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  border: none;
  width: 1px;
  min-width: 100%;
  *width: 100%;
}

.docs-navigation {
  padding: .5rem;
  overflow: auto;
  background: $well-bg-color;
  border: 1px solid $well-border-color;

  ul {
    margin-left: 0;
    list-style: none;

    &.tree-subtree {
      margin-left: 1rem;
      margin-bottom: .5rem;
    }
  }

  .tree-node-leaf {
    margin-left: 1.5rem;
  }

  .tree-toggle-button {
    margin-right: .5rem;
    color: $tree-toggle-button-color;
    font-size: .9rem;
    cursor: pointer;
    padding: .2rem;
  }
}

.feature-header {
  margin: 1rem 0 2rem 0;
}

.feature-block {

  height: 170px;

  p {
    font-size: $larger-text;
  }

  i {
    font-size: 2rem;
    margin-right: .5rem;
    color: $feature-block-icon-color;
  }
}

.grid-screenshot {
  opacity: .5;

  &:hover {
    opacity: 1;
    transition: opacity 400ms linear;
  }
}

.copyright {
  font-size: .9em;
  text-align: right;
}

@media #{$small-only} {
  .footer-nav-container {
    text-align: center;
  }

  .footer-nav {
    display: inline-block !important;
  }

  .copyright {
    text-align: center;
  }
}
