---
layout: default
title: Demos
---

<div class="page-header">
    <div class="row">
        <div class="columns content">
            <h1>Demos</h1>
            <p>Working examples of using jsGrid</p>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="row">
        <div class="large-3 columns content">
            <div class="demos-navigation">
                <ul>
                    <li><a href="basic.html" target="demo" class="demo-selected">Basic Scenario</a></li>
                    <li><a href="static-data.html" target="demo">Static Data</a></li>
                    <li><a href="odata-service.html" target="demo">OData Service</a></li>
                    <li><a href="data-manipulation.html" target="demo">Data Manipulation</a></li>
                    <li><a href="sorting.html" target="demo">Sorting</a></li>
                    <li><a href="loading-by-page.html" target="demo">Loading by Page</a></li>
                    <li><a href="custom-view.html" target="demo">Custom View</a></li>
                    <li><a href="custom-row-renderer.html" target="demo">Custom Row Renderer</a></li>
                    <li><a href="external-pager.html" target="demo">External Pager</a></li>
                    <li><a href="custom-grid-field.html" target="demo">Custom Grid Field</a></li>
                </ul>
            </div>
        </div>
        <div class="large-9 columns content">
            <div class="code demo-code">
                <pre class="prettyprint linenums lang-js">{% capture code %}{% include demos/basic.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/static-data.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/odata-service.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/data-manipulation.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/sorting.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/loading-by-page.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/custom-view.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/custom-row-renderer.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/external-pager.js %}{% endcapture %}{{ code | xml_escape }}</pre>
                <pre class="hidden prettyprint linenums lang-js">{% capture code %}{% include demos/custom-grid-field.js %}{% endcapture %}{{ code | xml_escape }}</pre>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="demo-frame">
                <iframe name="demo" src="basic.html"></iframe>
            </div>
        </div>
    </div>
</div>